@CHARSET "UTF-8";

body{
	background-color: #F7F7F7;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	color: #737373;
	padding-bottom: 40px;
    padding-top: 60px;
}

.disabled {
	disable;
}

.block {
	display: block;	
}

.inline{
	display: inline;
}

.hidden {
	display: none;	
}

.float-left{
	float: left;
}

.float-right{
	float: right;
}

tr .center{
	text-align: center;
}

.progress{
	margin-bottom: 0px;
}

.progressCaption{
	min-width: 30%;
}

.darkClass {
    filter:alpha(opacity=80); /* IE */
    opacity: 0.8; /* Safari, Opera */
    -moz-opacity:0.80; /* FireFox */
    z-index: 1031;
    height: 100%;
    width: 100%;
	background-color: #CCCCCC;
	position:fixed;
    top: 0px;
    left: 0px;
}

.darkClass div {
	top: 50%;
	margin: auto;
	position:relative;
	width: 128px;
}

.darkClass img {
	margin: auto;
	position:absolute;
	vertical-align: center;
}
    

.locale {
	float: right;
}

.locale a{
	color: #777777;
    padding: 10px 15px;
    text-decoration: none;
    text-shadow: 0 1px 0 #FFFFFF;
	float: right;
	display: inline;
}

.loginForm{ 
	background-color: #FFFFFF; 
	border: 1px solid #E5E5E5; 
	max-width: 300px; 
	margin: auto; 
	margin-top: 40px; 
	padding: 20px; 
	margin-bottom: 20px; 
}

#main-container {
 	background-color: #FFFFFF; 
 	border: 1px solid #E5E5E5; 
 	margin: auto; 
 	margin-top: 40px;
}
#main-container-nav-tabs {
 	background-color: #FFFFFF; 
 	border-bottom: 1px solid #E5E5E5; 
 	border-left: 1px solid #E5E5E5; 
 	border-right: 1px solid #E5E5E5; 
}

#legend {
	margin-left: 15px;
	margin-right: 15px;
}
#containerMargin {
	margin-left: 10px;
	margin-right: 10px;
}
.containerMargin {
	margin-left: 10px;
	margin-right: 10px;
}

.botonera {
	margin-bottom: 20px;
}

.botonera .pull-left{
	margin-right: 10px;
}

.pagination {
	margin: 0px;
}

.pagination > select {
	vertical-align: top;
}

.result-label {
	margin-left: 20px;
}

.form-actions {
	background-color: #FFFFFF;
}

.alert {
	margin-left: 15px;
	margin-right: 15px;
} 

.data-label {
	float: left;
	margin-top: 5px;
	text-align: left;
	margin-left: 15px;
}

.selectable:hover {
	cursor: pointer;
}

.search {    
	border-bottom: 1px solid #E5E5E5;
}

.search .form-actions {  
	padding-bottom: 0px;
}

tr .alert {
	background-color: #E38884;
}

.nav{
	margin-bottom: 0px;
}
