@CHARSET "UTF-8";

body{
	background-color: #F7F7F7;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	color: #737373;
	padding-bottom: 40px;
    padding-top: 60px;
}
.loginForm{ 
	background-color: #FFFFFF; 
	border: 1px solid #E5E5E5; 
	margin: auto; 
	margin-top: 40px; 
	padding: 20px; 
	margin-bottom: 20px; 
}

#main-container {
 	background-color: #FFFFFF; 
 	border: 1px solid #E5E5E5; 
 	margin: auto; 
 	margin-top: 40px;
}
#main-container-nav-tabs {
 	background-color: #FFFFFF; 
 	border-bottom: 1px solid #E5E5E5; 
 	border-left: 1px solid #E5E5E5; 
 	border-right: 1px solid #E5E5E5; 
}
#statsHolder
{
	margin-top: 10%;
}
#legend {
	margin-left: 15px;
	margin-right: 15px;
}
#containerMargin {
	margin-left: 5px;
	margin-right: 10px;
}
.containerMargin {
	margin-left: 10px;
	margin-right: 10px;
}
#timepicker2
{
	width: 20%;
}


.disabled {
	disable;
}

.block {
	display: block;	
}

.inline{
	display: inline;
}

.hidden {
	display: none;	
}

.float-left{
	float: left;
}

.float-right{
	float: right;
}

tr .center{
	text-align: center;
}

.progress{
	margin-bottom: 0px;
}

.progressCaption{
	min-width: 30%;
}

.darkClass {
    filter:alpha(opacity=80); /* IE */
    opacity: 0.8; /* Safari, Opera */
    -moz-opacity:0.80; /* FireFox */
    z-index: 1031;
    height: 100%;
    width: 100%;
	background-color: #CCCCCC;
	position:fixed;
    top: 0px;
    left: 0px;
}

.darkClass div {
	top: 50%;
	margin: auto;
	position:relative;
	width: 128px;
}

.darkClass img {
	margin: auto;
	position:absolute;
	vertical-align: center;
}
    

.locale {
	float: right;
}

.locale a{
	color: #777777;
    padding: 10px 15px;
    text-decoration: none;
    text-shadow: 0 1px 0 #FFFFFF;
	float: right;
	display: inline;
}

.loginForm{ 
	background-color: #FFFFFF; 
	border: 1px solid #E5E5E5; 
	max-width: 300px; 
	margin: auto; 
	margin-top: 40px; 
	padding: 20px; 
	margin-bottom: 20px; 
}


#legend {
	margin-left: 15px;
	margin-right: 15px;
}
#containerMargin {
	margin-left: 5px;
	margin-right: 10px;
}
.containerMargin {
	margin-left: 10px;
	margin-right: 10px;
}



		.date_container
		{
			width: 70%;
			float: left;
			margin-left: -10%;
		}
		.rigth_side
		{
			float: left;
			margin-left: 10%;
		}
	
		.center
		 {
   			 width:70%; 
    		margin-left:30%; 
    		margin-right:30%;
  		}
  		textarea
  		{
  			margin-left: 5%;
  			margin-top: 3%;
  			max-width: 60%;
  		}
  		#avanzadas
  		{
  			margin-left: 6%; 
  			margin-top: 10%;
  			width: 70%;
			white-space:nowrap;

			
  		}
  		.avanzadas-close
  		{
  			margin-left: 10%;
  			display: none;
  		}
 		.selected
		{
				box-shadow: 0 0 10px #555;
				border: 1px solid #00BFFF;
				-webkit-border-radius: 4px;
				-moz-border-radius: 4px;
				border-radius: 4px;
				z-index: 10;
		}
		.opciones
		{
			margin-top: 3%;
			margin-left: 3%;
			display: none;
		}
		
		.cuenta
		{
			margin-top: -5%;
			margin-left: 83%;

			width: 50px; 
			text-align: center;
			background-color: #D8D8D8;
			border-radius: 4px;

		}
		#subir_fichero
		{
			position: absolute;
			width: 30%;
			white-space:nowrap;
			z-index: 10;

			box-shadow: 0 0 10px #555;
			border: 1px solid #00BFFF;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;
			background-color: #FFFFFF;
			display: none;
			
			
		}
		#INFO
		{
			position: absolute;
			top: 40%;
			left: 40%;
			width: 30%;
			white-space:nowrap;
			z-index: 10;

			box-shadow: 0 0 10px #555;
			border: 1px solid #00BFFF;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;
			background-color: #FFFFFF;
			display: none;
			
			
		}
		#ERRORINFO
		{
			position: absolute;
			top: 40%;
			left: 40%;
			width: 30%;
			white-space:nowrap;
			z-index: 10;

			box-shadow: 0 0 10px #555;
			border: 1px solid #00BFFF;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;
			background-color: #FFFFFF;
			display: none;
			
			
		}
		#info_label
		{
			margin-left: 5%;
			font-weight: bold;
		}
		#error_label
		{
			margin-left: 5%;
			font-weight: bold;
		}
		#close_subir
		{
			cursor: pointer;
		}
		#close_error
		{
			cursor: pointer;
		}
		#close_info
		{
			cursor: pointer;
		}
		.load_btn
		{

		}
		#descripcion
		{
			margin-left: 15%;
			width: 50%;
		}
		.icon-file
		{
			margin-left: 2%;
		}
		i
		{
			font-weight: bold;
			font-size: 18px;
			margin-left: 5%;
		}
		.nav-collapse  ul
		{
			font-weight: bold;
			font-size: 14px;

		}
		#fech_historicos
		{
			margin-bottom: 29%;
		}
		#creditos 
		{
			box-shadow: 0 0 10px #555;
			border: 1px solid;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;
			background-color: #FFFFFF;
			margin-right: -10%;
		}
		#creditos ul
		{
			margin-left: 5%;
		}
		#creditos ul li
		{
			margin-top: 4%;
			margin-bottom: 4%;
			border-top: 1px solid  #555;
		}
		#creditos  h4
		{
			margin-left: 10%;
		}
		.right
		{
			float: right;
		}
		.left
		{
			float: left;
		}
	#tabla_pendientes .activo
	{
		cursor: pointer;
	}
	#file_footer
	{
		display: none;
	}
	#subir
	{
		margin-right: 2%;
		margin-bottom: 2%;
	}
	.pull-right
	{
		margin-right: 3%;
		margin-bottom: 0;
	}
	.separador_info
	{
		margin-top: 0;
	}
	.qq-upload-button
	{
		text-align: right;
	}
	.nopointer
	{
		cursor: auto;
	}
	.remitente_holder 
	{
		cursor: pointer;
	}
	 .texto_holder
	{
		cursor: pointer;
	}
	.pointer
	{
		cursor: pointer;
	}
#loader-gif
{
    position: absolute;
    top: 75%;
    left: 47%;
    display: none;
}
