img{ border:0px;}
A { text-decoration: none;}
body{
	font-size:12px;
	margin:0px; 
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	/*font: Arial, Helvetica, sans-serif, 12px;*/
	font: Trebuchet MS, Arial, Helvetica, Sans-Serif;
	color:#000000;
	/*color:#524348;*/
	background-color:#FFFFFF;
	background-image: url(../img/fondo.jpg);
	/*background-color:#f48900;*/
  }
.imgfondo{
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-150px;
	margin-top:-270px;
	/*margin-top:-200px;*/
}
.titulotablalogin{
		font-size: 14px;
		font: Trebuchet MS, Arial, Helvetica, Sans-Serif;
		font-weight: bold;
	}
.tablalogin {

	font-size: 12px;
	font: Trebuchet MS, Arial, Helvetica, Sans-Serif;
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
	
	
	position:absolute;
	top:50%;
	left:50%;
	/*margin-left:-40px;*/
	margin-left:-80px;
	/*margin-top:-85px;*/
	margin-top:-225px;
	width:300px;
	height:148px;
	/*color:#753a0e;*/
	color:#333333;
	font-weight: bold;

}
.textbox1{ 
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
	
   	border: 1px solid #d7d7d7;
   	background-color:#ebebeb;
	
	background-image:url(../img/fondocampotexto.jpg);
	/*background-image:url(../img/fondotexto.jpg);*/
	background-repeat:repeat;
	}
.textbox2{ 
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	color:#333333;
	font-weight: bold; 
   	background-repeat:repeat;
	}
.botonlogin{
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
		
	cursor: pointer;
	}
	
	h1
{
background: inherit;
color: #50514D;
/*text-transform: lowercase;*/
font-size: 26px;
}

h1 span
{
background: inherit;
color: #85AC1E;
}

h1 span sup
{
background: inherit;
color: #85AC1E;
font-size: 14px;
}
	
#footer
{
clear: both;
width: 680px;
margin: 0px auto;

padding-top: 400px;
text-align: center;

}

